---
name: "CI"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      UV_FROZEN: "true"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.13"
          enable-cache: true

      - name: Install the project
        run: uv sync --all-extras --dev

      # https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#using-ruff-to-lint-code
      - name: Ruff
        run: uv run ruff check --output-format=github .
        continue-on-error: true

      - name: Mypy
        run: uv run mypy .

      # https://github.com/codecov/example-python
      - name: Pytest
        run: uv run pytest --cov=src --cov-report=xml

      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
